@{
    Layout = null;
}
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model BusinessLogic.Dtos.Identity.Requests.ResetPasswordRequest
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "https://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>@Localizer["ResetPassword"]</title>
    <link rel="icon" href="~/assets/landing-page/image/favicon.png" type="image/png">
    <meta property="og:title" content="@Localizer["ResetPassword"]" />
    <link href="~/assets/page/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/page/css/icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/page/css/app.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center w-75 m-auto">
                                <a href="/home">
                                    <span><img src="~/assets/landing-page/image/Logo.png" alt="" height="22"></span>
                                    <br> <br />
                                </a>
                                <p>@Localizer["MessageReset"]</p>
                            </div>
                            @if (!Model.ResetFlag)
                            {
                                <form asp-action="ResetPassword" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group mb-3">
                                        <label for="Email">Email address</label>
                                        <input id="Email" type="text" class="form-control" placeholder="Email" asp-for="Email" value="@Model.Email">
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="password">@Localizer["Password"]</label>
                                        <input id="Password" type="password" class="form-control" placeholder="@Localizer["Password"]" asp-for="Password" value="@Model.Password">
                                        <span class="eye_icon"></span>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="ConfirmPassword">@Localizer["ConfirmPassword"]</label>
                                        <input id="ConfirmPassword" type="password" class="form-control" placeholder="@Localizer["ConfirmPassword"]" asp-for="ConfirmPassword" value="@Model.ConfirmPassword">
                                        <span class="eye_icon"></span>
                                    </div>

                                    <input type="hidden" asp-for="Token" value="@Model.Token" />
                                    <div class="form-group mb-0 text-center">
                                        <button class="btn btn-primary btn-block" type="submit"> @Localizer["ResetPassword"] </button>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <div class="forgot-password-success">
                                    <h2>@Localizer["EmailOnTheWay"]</h2>
                                    <p>@Localizer["EmailSuccess"]</p>
                                    <a class="btn btn-primary btn-block" asp-action="Login">@Localizer["BackToLogin"]</a>
                                </div>
                            }
                        </div> <!-- end card-body -->
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- Vendor js -->
    <script src="~/assets/page/js/vendor.min.js"></script>
    <!-- App js -->
    <script src="~/assets/page/js/app.min.js"></script>
    <script src="~/assets/page/js/main.js" defer></script>
</body>
</html>