@model BusinessLogic.Dtos.Rooms.ClientRoomsResponse
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Room"];
    var httpContext = ViewContext.HttpContext;
    string appDomain = $"{httpContext.Request.Scheme}://{httpContext.Request.Host}";
}

 <!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">@Localizer["Room"]</h2>
            <ol class="breadcrumb">
                <li><a href="/home">@Localizer["Home"]</a></li>
                <li class="active">@Localizer["Room"]</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->

<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">@Localizer["RoomTypes"]</h2>
            <p>@Localizer["Text1"]</p>
        </div>
        <div class="row mb_30">
            @foreach (var item in Model.RoomTypes)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src="@appDomain@item.Image" width="263px" height="270px" alt="post">
                            <a href="/list-room/@item.Id" class="btn theme_btn button_hover">@Localizer["BookNow"]</a>
                        </div>
                        <a href="/list-room/@item.Id"><h4 class="sec_h4">@item.Name</h4></a>
                    </div>
                </div>
            } 
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->

<!--================Booking Tabel Area =================-->
<section class="hotel_booking_area">
    <div class="container">
        <div class="row hotel_booking_table">
            <div class="col-md-3">
                <h2>@Localizer["BookYourRoom"]</h2>
            </div>
            <div class="col-md-9">
                <div class="boking_table">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="book_tabel_item">
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker11'>
                                        <input type='text' class="form-control" placeholder="@Localizer["ArrivalDate"]" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input type='text' class="form-control" placeholder="@Localizer["DepartureDate"]" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="book_tabel_item">
                                <div class="input-group">
                                    <select class="wide">
                                        <option data-display="@Localizer["Adult"]">@Localizer["Adult"]</option>
                                        <option value="1">1 adults</option>
                                        <option value="2">2 adults</option>
                                        <option value="3">3 adults</option>
                                        <option value="4">4 adults</option>
                                    </select>
                                </div>
                                <div class="input-group">
                                    <select class="wide">
                                        <option data-display="@Localizer["Child"]">@Localizer["Child"]</option>
                                        <option value="1">1 Child</option>
                                        <option value="2">2 Child</option>
                                        <option value="3">3 Child</option>
                                        <option value="4">4 Child</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="book_tabel_item">
                                <div class="input-group">
                                    <select class="wide" id="roomTypeSelect">
                                        <option data-display="@Localizer["RoomTypes"]">@Localizer["RoomTypes"]</option>
                                        @foreach (var item in Model.RoomTypes)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                                <a class="book_now_btn button_hover" id="bookNowButton" href="#">@Localizer["BookNow"]</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Booking Tabel Area  =================-->

<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">@Localizer["Text2"]</h2>
            <p>@Localizer["Text3"]</p>
        </div>
        <div class="row accomodation_two">
            @foreach (var item in Model.Rooms)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src="@appDomain@item.Thumbnail" width="263px" height="270px" alt="post">
                            <a href="/room-details/@item.Id" class="btn theme_btn button_hover">@Localizer["BookNow"]</a>
                        </div>
                        <a href="/room-details/@item.Id"><h4 class="sec_h4">@item.Name</h4></a>
                        <h5>@string.Format("{0:N0} VND", item.Price)<small>@Localizer["/night"]</small></h5>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->
@section Scripts {
    <script>
        $(document).ready(function () {
            // Xử lý sự kiện khi giá trị của select thay đổi
            $('#roomTypeSelect').change(function () {
                // Lấy giá trị được chọn từ select
                var selectedValue = $(this).val();
                // Cập nhật href của thẻ <a> với giá trị được chọn
                $('#bookNowButton').attr('href', '/list-room/' + selectedValue);
            });
        });
    </script>
}