﻿
@model BusinessLogic.Dtos.Rooms.ClientRoomDetailResponse
@using Microsoft.AspNetCore.Mvc.Localization
@using WebApp.Extensions
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["RoomDetails"];
    var httpContext = ViewContext.HttpContext;
    string appDomain = $"{httpContext.Request.Scheme}://{httpContext.Request.Host}";
    bool isLoggedIn = !string.IsNullOrEmpty(User.GetSpecificClaim("UserId"));
}
@section Styles {
    <link href="~/assets/client1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/client1/css/navigation.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/client1/css/style.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/assets/client/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/client/css/animate.css">
    <link rel="stylesheet" href="~/assets/client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/client/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/client/css/aos.css">
    <link rel="stylesheet" href="~/assets/client/css/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/client/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/assets/client/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/assets/client/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/client/css/icomoon.css">
    <link rel="stylesheet" href="~/assets/client/css/style.css">
    <style>
        .form-size {
            font-size: 12px;
        }
    </style>
}
@section Scripts {
    <script src="~/client-app/controllers/room/roomDetail.js" asp-append-version="true"></script>

    <script src="~/assets/client/js/jquery.min.js"></script>
    <script src="~/assets/client/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/assets/client/js/popper.min.js"></script>
    <script src="~/assets/client/js/bootstrap.min.js"></script>
    <script src="~/assets/client/js/jquery.easing.1.3.js"></script>
    <script src="~/assets/client/js/jquery.waypoints.min.js"></script>
    <script src="~/assets/client/js/jquery.stellar.min.js"></script>
    <script src="~/assets/client/js/owl.carousel.min.js"></script>
    <script src="~/assets/client/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/client/js/aos.js"></script>
    <script src="~/assets/client/js/jquery.animateNumber.min.js"></script>
    <script src="~/assets/client/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/client/js/jquery.timepicker.min.js"></script>
    <script src="~/assets/client/js/scrollax.min.js"></script>
    <script src="~/assets/client/js/main.js"></script>
}
<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">@Localizer["RoomDetails"]</h2>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <div class="single-slider owl-carousel">
                            <div class="item">
                                <div class="room-img" style="background-image: url('@Model.Room.Thumbnail');"></div>
                            </div>
                            @foreach (var image in Model.Room.RoomImages!)
                            {
                                <div class="item">
                                    <div class="room-img" style="background-image: url('@image.UrlImage')"></div>
                                </div>
                            }
                        </div>
                    </div>

                    <!-- Overlay và ảnh phóng to -->
                    <div class="overlay">
                        <span class="close-btn">&times;</span>
                        <img class="enlarged-image" id="enlarged-image" src="" alt="Enlarged Image">
                    </div>

                    <div class="col-md-12 room-single mt-4 mb-5 ftco-animate">
                        <div class="main_title" style="font-size: 10px;">
                            <h2>  About @Model.Room.Name</h2>
                        </div>
                        <p>@Html.Raw(Model.Room.Description)</p>
                        <div class="d-md-flex mt-5 mb-5">
                            <ul class="list">
                                <li><span>Max:</span> @Model.Room.Adult person</li>
                                <li><span>Size:</span> @Model.Room.Acreage m2</li>
                            </ul>
                            <ul class="list ml-md-5">
                                <li><span>View:</span> @Model.Room.Location</li>
                                <li><span>Bed:</span> 1</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main_title" style="font-size: 10px;">
                    <h2>ROOM SERVICES</h2>
                </div>
                <div class="room_facilitys_list">
                    <div class="all_facility_list">
                        <div class="col-sm-4 nopadding">
                            <ul class="list-unstyled">
                                @for(int i = 0; i < 4; i++){
                                    <li><i class="fa fa-check"></i>@Model.Services[i].Name</li>
                                }
                            </ul>
                        </div>
                        <div class="col-sm-4 nopadding">
                            <ul class="list-unstyled">
                                @for (int i = 4; i < 8; i++)
                                {
                                    <li><i class="fa fa-check"></i>@Model.Services[i].Name</li>
                                }
                            </ul>
                        </div>
                        <div class="col-sm-4 nopadding_left">
                            <ul class="list-unstyled">
                                @for (int i = 8; i < 12; i++)
                                {
                                    <li><i class="fa fa-check"></i>@Model.Services[i].Name</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate">
                <div class="sidebar-box ftco-animate">
                    <aside class="widget">
                        <div class="vbf">
                            <h2 class="form_title"><i class="fa fa-calendar"></i> BOOK ONLINE</h2>
                            <form id="booking-form" class="inner">
                                <div class="form-group">
                                    <input type="hidden" name="Id" id="hidId" value="0" />
                                    <input type="hidden" name="TotalAmount" id="txtTotalAmount" value="@Model.Room.Price" />
                                    <input type="hidden" name="RoomId" id="txtRoomId" value="@Model.Room.Id" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="FullName" value="@Model.FullName" placeholder="Enter Your Name" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="Email" value="@Model.Email" placeholder="Enter Your Email Address" type="email">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" name="PhoneNumber" value="@Model.PhoneNumber" placeholder="Enter Your Phone Number" type="text">
                                </div>
                                <div class="form-group">
                                    <div class="form_select">
                                        <input class="form-control" name="RoomName" value="@Model.Room.Name" type="text" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12 nopadding">
                                    <div class="form_select">
                                        <input class="form-control" name="Adult" id="Adult" value="@Model.Room.Adult" type="text" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12 nopadding">
                                    <div class="form_select">
                                        <input class="form-control" name="Kid" id="Kid" value="@Model.Room.Kid" type="text" readonly>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12 nopadding">
                                    <div class="input-group">
                                        <div class="form_date">
                                            <input type="date" class="datepicker form-control md_noborder_right" name="CheckInDate" id="CheckInDate" placeholder="Arrival Date" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12 nopadding">
                                    <div class="input-group">
                                        <div class="form_date">
                                            <input type="date" class="datepicker form-control" name="CheckOutDate" id="CheckOutDate" placeholder="Departure Date" required>
                                        </div>
                                    </div>
                                </div>
                                <button class="button btn_lg btn_blue btn_full" id="btn-booking" type="submit">BOOK A ROOM NOW</button>
                            </form>
                        </div>
                    </aside>
                    <aside class="widget">
                        <h4>NEED HELP?</h4>
                        <div class="help">
                            If you have any question please don't hesitate to contact us
                            <div class="phone"><i class="fa  fa-phone"></i><a href="tel:0383681047"> 0383681047 </a></div>
                            <div class="email"><i class="fa  fa-envelope-o "></i><a href="nvdat0204@gmail.com"><span class="__cf_email__" data-cfemail="nvdat0204@gmail.com">nvdat0204@gmail.com</span></a> or use <a href="/contact"> contact form</a></div>
                        </div>
                    </aside>
                </div>             
            </div>
        </div>

        <div class="similar_rooms">
            <div class="main_title t_style5 l_blue s_title a_left">
                <div class="c_inner" style="font-size: 10px;">
                    <h2 class="c_title">SIMILAR ROOMS</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <article>
                        <figure>
                            <a href="room.html" class="hover_effect h_blue h_link"><img src="~/assets/client1/images/double1.jpg" alt="Image" class="img-responsive"></a>
                            <div class="price">€99<span> night</span></div>
                            <figcaption>
                                <h4><a href="room.html">Double Room</a></h4>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-md-4">
                    <article>
                        <figure>
                            <a href="room.html" class="hover_effect h_blue h_link"><img src="~/assets/client1/images/double1.jpg" alt="Image" class="img-responsive"></a>
                            <div class="price">€129<span> night</span></div>
                            <figcaption>
                                <h4><a href="room.html">Single Room </a></h4>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-md-4">
                    <article>
                        <figure>
                            <a href="room.html" class="hover_effect h_blue h_link"><img src="~/assets/client1/images/double1.jpg" alt="Image" class="img-responsive"></a>
                            <div class="price">€189<span> night</span></div>
                            <figcaption>
                                <h4><a href="room.html">Deluxe Room </a></h4>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>

        <div class="comments-area">
            <h4>@(Model.Comments.Count() + Model.Replies.Count()) Comments</h4>
            @foreach (var comment in Model.Comments)
            {
                <div class="comment-list">
                    <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                            <div class="thumb">
                                <img src="@comment.Avatar" alt="" width="50" height="50">
                            </div>
                            <div class="desc">
                                <h5><a href="#">@comment.FullName</a></h5>
                                <p class="date">@comment.CreatedOn </p>
                                <p class="comment">
                                    @comment.Content
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (isLoggedIn)
        {
            <div class="comment-form">
                <h4>Leave a Reply</h4>
                <form id="formMaintainance" method="post" novalidate="novalidate">
                    <div class="form-group">
                        <input type="hidden" name="Id" id="hidId" value="0" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="RoomId" id="RoomId" value="@Model.Room.Id" />
                    </div>
                    <div class="form-group">
                        <textarea class="form-control mb-10" rows="5" id="txtContent" name="Content" placeholder="Message" required></textarea>
                    </div>
                    <button type="submit" class="primary-btn button_hover" id="btn-postComment">Post Comment</button>
                </form>
            </div>
        }
        else
        {
            <div class="comment-form">
                <a href="/identity/login" type="submit" class="primary-btn button_hover">Please log in to comment</a>
            </div>
        }    
    </div>
</section> <!-- .section -->
