@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Contact"];
}

<div class="wrap-carbon-calculate">
    <div class="introduce">
        <div class="container">
            <div class="introduce-inner">
                <h2>@Localizer["Contact"]</h2>
                <p class="text-center">
                    <span>@Localizer["MinMaxGreen"]</span>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section-contact contact-page" style="background-color: #fff; color: #171717;">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center">
            <div class="col-12 col-lg-5 contact-infor">
                <h2 class="h2-title" style="color: #171717;">@Localizer["ContactUs"] </h2>
                <p class="">@Localizer["Title1"]</p>
                <p class="wrap-infor">
                    <span>+84 12345678</span> <br>
                    <span>@Localizer["Title2"]</span> <br>
                    <span>Minmax@carbon.com</span>
                </p>
            </div>
            <div class="col-12 col-lg-7 p-0">
                <div class="form-contact">
                    <form id="formContact">
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="field">
                                    <label for="">@Localizer["Yourname"]</label>
                                    <input id="nameContact" name="name" type="text" placeholder="@Localizer["Yourname"]">
                                </div>
                            </div>
                            <div class="col-sm-6 col-12">
                                <div class="field">
                                    <label for="">@Localizer["Emailaddress"]</label>
                                    <input id="emailContact" name="email" type="email" placeholder="@Localizer["Emailaddress"]">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-12">
                                <div class="field">
                                    <label for="">@Localizer["Title3"]</label>
                                    <input id="serviceContact" name="service" type="text" placeholder="@Localizer["Services"]">
                                </div>
                            </div>
                            <div class="col-sm-6 col-12" data-wow-delay="0.2s">
                                <div class="field">
                                    <label for="">@Localizer["Companyname"]</label>
                                    <input id="companyContact" name="company" type="text" placeholder="@Localizer["Companyname"]">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="field">
                                    <label for="">@Localizer["Title4"]</label>
                                    <textarea name="description" id="descriptionContact" placeholder="@Localizer["Description"]" cols="20" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="submit-form">
                            <button id="btnContact">@Localizer["Submit"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-map">
    <div class="container">
        <div class="section-map-title">
            <h2 class="h2-title">@Localizer["Title5"]</h2>
        </div>
        <div class="map-content">
            <iframe hl="en" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245368.20484126982!2d108.07812645!3d16.071809050000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219c792252a13%3A0x1df0cb4b86727e06!2zxJDDoCBO4bq1bmc!5e0!3m2!1svi!2s!4v1703834526806!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<div class="loading-block">
    <div class="loading-block_logo">
        <img src="~/assets/landing-page/img/logo/logo_header.webp" width="160px" height="42px" alt="" class="fadeUp">
    </div>
</div>
<div class="loadingbg"></div>