@using Microsoft.AspNetCore.Mvc.Localization
@using BusinessLogic.Constants.Application
@model BusinessLogic.Dtos.Home.HomeResponse﻿
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Home"]; 
    var httpContext = ViewContext.HttpContext;
    string appDomain = $"{httpContext.Request.Scheme}://{httpContext.Request.Host}";
}

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="booking_table d_flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h6>@Localizer["HomeTitle1"]</h6>
                <h2>@Localizer["HomeTitle2"]</h2>
                <p>@Localizer["HomeText1"]</p>
                <a href="#" class="btn theme_btn button_hover">@Localizer["HomeText2"]</a>
            </div>
        </div>
    </div>
    <div class="hotel_booking_area position">
        <div class="container">
            <div class="hotel_booking_table">
                <div class="col-md-3">
                    <h2>@Localizer["HomeText3"]</h2>
                </div>
                <div class="col-md-9">
                    <div class="boking_table">
                        <form class="form-horizontal" role="form" id="formBooking">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker11'>
                                                <input type='text' class="form-control" placeholder="@Localizer["ArrivalDate"]" />
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' class="form-control" placeholder="@Localizer["DepartureDate"]" />
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="input-group">
                                            <select class="wide">
                                                <option data-display="@Localizer["Adult"]">@Localizer["Adult"]</option>
                                                <option value="1">1 adults</option>
                                                <option value="2">2 adults</option>
                                                <option value="3">3 adults</option>
                                                <option value="4">4 adults</option>
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <select class="wide">
                                                <option data-display="@Localizer["Child"]">@Localizer["Child"]</option>
                                                <option value="1">1 Child</option>
                                                <option value="2">2 Child</option>
                                                <option value="3">3 Child</option>
                                                <option value="4">4 Child</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="input-group">
                                            <select class="wide" id="roomTypeSelect">
                                                <option data-display="@Localizer["RoomTypes"]">@Localizer["RoomTypes"]</option>
                                                @foreach (var item in Model.RoomTypes)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                        <a class="book_now_btn button_hover" id="bookNowButton" href="#">@Localizer["BookNow"]</a>
                                    </div>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Banner Area =================-->

<!--================ Accomodation Area  =================-->
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">@Localizer["HotelAccomodation"]</h2>
            <p>@Localizer["HomeText4"]</p>
        </div>
        <div class="row mb_30">
            @foreach (var item in Model.RoomTypes)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="accomodation_item text-center">
                        <div class="hotel_img">
                            <img src="@appDomain@item.Image" width="263px" height="270px" alt="post">
                            <a href="#" class="btn theme_btn button_hover">@Localizer["BookNow"]</a>
                        </div>
                        <a href="/list-room/@item.Id"><h4 class="sec_h4">@item.Name</h4></a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================ Accomodation Area  =================-->
<!--================ Facilities Area  =================-->
<section class="facilities_area section_gap">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background="">
    </div>
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_w">@Localizer["RoyalFacilities"]</h2>
            <p>@Localizer["HomeText5"]</p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-dinner"></i>@Localizer["Restaurant"]</h4>
                    <p>@Localizer["HomeText6"]</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-bicycle"></i>@Localizer["SportsCLub"]</h4>
                    <p>@Localizer["HomeText7"]</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-shirt"></i>@Localizer["SwimmingPool"]</h4>
                    <p>@Localizer["HomeText8"]</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-car"></i>@Localizer["RentACar"]</h4>
                    <p>@Localizer["HomeText9"]</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-construction"></i>@Localizer["Gymnesium"]</h4>
                    <p>@Localizer["HomeText10"]</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="facilities_item">
                    <h4 class="sec_h4"><i class="lnr lnr-coffee-cup"></i>@Localizer["Bar"]</h4>
                    <p>@Localizer["HomeText11"]</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Facilities Area  =================-->
<!--================ About History Area  =================-->
<section class="about_history_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">@Localizer["HomeText12"]</h2>
                    <p>@Localizer["HomeText13"]</p>
                    <a href="#" class="button_hover theme_btn_two">@Localizer["RequestCustomPrice"]</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="~/assets/landing-page/image/about_bg.jpg" alt="img">
            </div>
        </div>
    </div>
</section>
<!--================ About History Area  =================-->
<!--================ Testimonial Area  =================-->
<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">@Localizer["HomeText14"]</h2>
            <p>@Localizer["HomeText15"] </p>
        </div>
        <div class="testimonial_slider owl-carousel">
            <div class="media testimonial_item">
                <img class="rounded-circle" src="~/uploaded/images/20240331/Screenshot 2023-11-18 203128.png" alt="" width="60" height="60">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="~/uploaded/images/20240331/Screenshot 2024-01-23 205528.png" alt="" width="60" height="60">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="~/uploaded/images/20240327/Screenshot 2024-01-21 222641.png" alt="" width="60" height="60">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="~/uploaded/images/20240323/Screenshot 2023-03-29 213015.png" alt="" width="60" height="60">
                <div class="media-body">
                    <p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the </p>
                    <a href="#"><h4 class="sec_h4">Fanny Spencer</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Testimonial Area  =================-->
<!--================ Latest Blog Area  =================-->
<section class="latest_blog_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">@Localizer["HomeText16"]</h2>
            <p>@Localizer["HomeText17"] </p>
        </div>
        <div class="row mb_30">
            @foreach (var item in Model.News)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-recent-blog-post">
                        <div class="thumb">
                            <img src="@appDomain@item.Thumbnail" width="360px" height="260px" alt="post">
                        </div>
                        <div class="details">
                            <div class="tags">
                                <a href="/blog-details/@item.Id" class="button_hover tag_btn">@item.NewsType</a>
                            </div>
                            <a href="/blog-details/@item.Id"><h4 class="sec_h4">@item.Title</h4></a>
                            <h6 class="date title_color">@item.CreatedOn</h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!--================ Recent Area  =================-->
@section Scripts {
    <script>
        $(document).ready(function () {
            // Xử lý sự kiện khi giá trị của select thay đổi
            $('#roomTypeSelect').change(function () {
                // Lấy giá trị được chọn từ select
                var selectedValue = $(this).val();
                // Cập nhật href của thẻ <a> với giá trị được chọn
                $('#bookNowButton').attr('href', '/list-room/' + selectedValue);
            });
        });
    </script>
}