@using WebApp.Extensions
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Layout"];
    var httpContext = ViewContext.HttpContext;
    string appDomain = $"{httpContext.Request.Scheme}://{httpContext.Request.Host}";
    bool isLoggedIn = !string.IsNullOrEmpty(User.GetSpecificClaim("UserId"));
    string userName = isLoggedIn ? User.GetSpecificClaim("FullName") : string.Empty;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/assets/landing-page/image/favicon.png" type="image/png">
    <title>Royal Hotel</title>
    <!-- Bootstrap CSS -->
    <link href="~/assets/admin/css/icons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/assets/landing-page/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/landing-page/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/assets/landing-page/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/landing-page/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/landing-page/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/assets/landing-page/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/landing-page/vendors/owl-carousel/owl.carousel.min.css">
    <link href="~/lib/notifyjs/dist/styles/metro/notify-metro.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700&family=Inter:wght@500;600;700&display=swap"
          rel="stylesheet">
    <!-- main css -->
    <link rel="stylesheet" href="~/assets/landing-page/css/style.css">
    <link rel="stylesheet" href="~/assets/landing-page/css/responsive.css">
    @await RenderSectionAsync("Styles", required: false)

</head>

<body>
    @await Html.PartialAsync("_TopBarPartial")

    @RenderBody()

    @if (!isLoggedIn)
    {
        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
        <df-messenger intent="WELCOME"
                      chat-title="Royal_Hotel_chat"
                      agent-id="411c2fd7-b5ad-4113-98b5-560f85c37215"
                      language-code="en">
        </df-messenger>
    }
    else
    {
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            Tawk_API.visitor = {
                name: "@Html.Raw(userName)"
            };
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/6655400e9a809f19fb35d324/1huug4eeh';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
    }

    <!--================ start footer Area  =================-->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">@Localizer["AboutAgency"]</h6>
                        <p>@Localizer["Text1"]</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">@Localizer["NavigationLinks"]</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Feature</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Team</a></li>
                                    <li><a href="#">Pricing</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">@Localizer["Newsletter"]</h6>
                        <p>@Localizer["Text2"] </p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h6 class="footer_title">@Localizer["InstaFeed"]</h6>
                        <ul class="list_style instafeed d-flex flex-wrap">
                            <li><img src="~/assets/landing-page/image/instagram/Image-01.jpg" alt=""></li>
                            <li><img src="~/assets/landing-page/image/instagram/Image-02.jpg" alt=""></li>
                            <li><img src="~/assets/landing-page/image/instagram/Image-03.jpg" alt=""></li>
                            <li><img src="~/assets/landing-page/image/instagram/Image-04.jpg" alt=""></li>
                            <li><img src="~/assets/landing-page/image/instagram/Image-05.jpg" alt=""></li>
                            <li><img src="~/assets/landing-page/image/instagram/Image-06.jpg" alt=""></li>
                            <li><img src="~/assets/landing-page/image/instagram/Image-07.jpg" alt=""></li>
                            <li><img src="~/assets/landing-page/image/instagram/Image-08.jpg" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="border_line"></div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/assets/landing-page/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/landing-page/js/popper.js"></script>
    <script src="~/assets/landing-page/js/bootstrap.min.js"></script>
    <script src="~/assets/landing-page/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/landing-page/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/landing-page/js/mail-script.js"></script>
    <script src="~/assets/landing-page/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/landing-page/vendors/nice-select/js/jquery.nice-select.js"></script>
    <script src="~/assets/landing-page/js/mail-script.js"></script>
    <script src="~/assets/landing-page/js/stellar.js"></script>
    <script src="~/assets/landing-page/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/assets/landing-page/js/custom.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/landing-page/js/main.js" asp-append-version="true"></script>
    <script src="~/admin-app/shared/base.js" asp-append-version="true"></script>
    <script src="~/lib/notifyjs/dist/notify.js"></script>
    <script src="~/lib/notifyjs/dist/styles/metro/notify-metro.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var currentUrl = window.location.href;
            // Remove active class from all links
            $('li a').removeClass('active');
            // Find the link that matches the current URL and add active class
            $('li a').filter(function () {
                return this.href === currentUrl;
            }).addClass('active');
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>