@using WebApp.Extensions
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var httpContext = ViewContext.HttpContext;
    string appDomain = $"{httpContext.Request.Scheme}://{httpContext.Request.Host}";
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var selectedCulture = requestCulture?.RequestCulture.UICulture.Name;
    var cultureItems = LocOptions.Value.SupportedUICultures!
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName.Split("(")[0].Trim() })
        .ToList();
    var queryString = ViewContext.HttpContext.Request.QueryString.Value;
}

<!--================Header Area =================-->
<header class="header_area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a class="navbar-brand logo_h" href="Home"><img src="~/assets/landing-page/image/Logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/home">@Localizer["Home"]</a></li>
                    <li class="nav-item"><a class="nav-link" href="/about-us">@Localizer["AboutUs"]</a></li>
                    <li class="nav-item"><a class="nav-link" href="/room">@Localizer["Room"]</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#">@Localizer["Gallery"]</a></li>
                    <li class="nav-item"><a class="nav-link" href="/blog">@Localizer["Blog"]</a></li>
                    <li class="nav-item"><a class="nav-link" href="/#">@Localizer["Elemests"]</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">@Localizer["Contact"]</a></li>
                    <li class="nav-item dropdown custom-dropdown notification-list">
                        <div class="selected-option nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span id="selected-value"><img src="~/assets/images/unitedStates.webp" width="24px" height="24px" alt="unitedStates" /></span>
                        </div>
                        <input class="returnUrl" type="type" name="name" value="@Context.Request.Path@queryString" hidden />
                        <div class="dropdown-list dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item notify-item">
                                <span data-value="en-US" class="active"><img src="~/assets/images/unitedStates.webp" alt="user-image" class="mr-1" width="24px" height="24px">English</span>
                            </a>
                            <a href="#" class="dropdown-item notify-item">
                                <span data-value="vi-VN"><img src="~/assets/images/vietnam.webp" alt="user-image" class="mr-1" width="24px" height="24px">Vietnamese</span>
                            </a>
                        </div>
                    </li>

                    @{
                        bool isLoggedIn = !string.IsNullOrEmpty(User.GetSpecificClaim("UserId"));
                    }
                    @if (isLoggedIn)
                    {
                        <li class="nav-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                @if (!string.IsNullOrEmpty(User.GetSpecificClaim("Avatar")))
                                {
                                    <img src="@appDomain@User.GetSpecificClaim("Avatar")" alt="user-image" class="rounded-circle" style="width: 30px; height: 30px;">
                                }
                                else
                                {
                                    <img src="~/assets/images/user.png" alt="user-image" class="rounded-circle" style="width: 30px; height: 30px;">
                                }
                                <span class="pro-user-name ml-1">
                                    @User.GetSpecificClaim("FullName") <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                                <!-- item-->
                                <a href="#" class="dropdown-item notify-item">
                                    <i class="remixicon-account-circle-line"></i>
                                    <span>@Localizer["MyBooking"]</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <!-- item-->
                                <a href="/my-account?UserId=@User.GetSpecificClaim("UserId")" class="dropdown-item notify-item">
                                    <i class="remixicon-account-circle-line"></i>
                                    <span>@Localizer["MyAccount"]</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <!-- item-->
                                <a href="javascript:void(0);" onclick="logout();" class="dropdown-item notify-item">
                                    <i class="remixicon-logout-box-line"></i>
                                    <span>@Localizer["SignOut"]</span>
                                </a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/identity/login">@Localizer["SignIn"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/identity/register">@Localizer["SignUp"]</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</header>
<!--================Header Area =================-->

<script>
    function logout() {
        $.ajax({
            type: "POST",
            url: "/Admin/Login/Logout",
            success: function () {
                window.location.href = "/home";
            }
        });
    };
</script>