﻿
@model BusinessLogic.Dtos.News.ClientNewsDetailsResponse
@using Microsoft.AspNetCore.Mvc.Localization
@using WebApp.Extensions
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["NewsDetail"];
    var httpContext = ViewContext.HttpContext;
    string appDomain = $"{httpContext.Request.Scheme}://{httpContext.Request.Host}";
}
@section Scripts {
    <script src="~/client-app/controllers/news/index.js" asp-append-version="true"></script>
    <style>
        .blog_info {
            text-align: left;
        }
    </style>
}
<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area blog_banner_two">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle f_48">Blog Details page</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li class="active">Blog Details</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->
<!--================Blog Area =================-->
<section class="blog_area single-post-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            <img class="img-fluid" src="@Model.NewsDetail.Thumbnail" alt="" width="750px" height="350px">
                        </div>
                        <h2>@Model.NewsDetail.Title</h2>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">     
                            <div class="col-lg-12 mt-25">
                                <p>@Html.Raw(Model.NewsDetail.Content)</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comments-area">
                    <h4>@(Model.Comments.Count()) Comments</h4>
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="@comment.Avatar" alt="" width="50" height="50">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">@comment.FullName</a></h5>
                                        <p class="date">@comment.CreatedOn </p>
                                        <p class="comment">
                                            @comment.Content
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @{
                    bool isLoggedIn = !string.IsNullOrEmpty(User.GetSpecificClaim("UserId"));
                } 
                @if (isLoggedIn)
                {
                    <div class="comment-form">
                        <h4>Leave a Reply</h4>
                        <form id="formMaintainance" method="post" novalidate="novalidate">
                            <div class="form-group">
                                <input type="hidden" name="Id" id="hidId" value="0" />
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="NewId" id="NewId" value="@Model.NewsDetail.Id" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control mb-10" rows="5" id="txtContent" name="Content" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                            </div>
                            <button type="submit" value="submit" class="primary-btn button_hover" id="btn-postComment">Post Comment</button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="comment-form">
                        <a href="/identity/login" type="submit" class="primary-btn button_hover">Please log in to comment</a>
                    </div>
                }              
            </div>

            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                            <div class="blog_info">
                                <ul class="blog_meta list_style">
                                <li><a href="#"><i class="lnr lnr-user"></i> @Model.NewsDetail.Author</a></li>
                                <li><a href="#"><i class="lnr lnr-calendar-full"></i> @Model.NewsDetail.CreatedOn</a></li>
                                <li><a href="#"><i class="lnr lnr-eye"></i> 1.2M Views</a></li>
                                <li><a href="#"><i class="lnr lnr-bubble"></i> @(Model.Comments.Count()) Comments></a></li>
                                </ul>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Popular Posts</h3>
                        <div class="media post_item">
                            <img src="~/assets/landing-page/image/blog/post1.jpg" alt="post">
                            <div class="media-body">
                                <a href="blog-details.html"><h3>Space The Final Frontier</h3></a>
                                <p>02 Hours ago</p>
                            </div>
                        </div>                   
                        <div class="br"></div>
                    </aside>

                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#"><img class="img-fluid" src="https://media-static.cdnproz1.online/cakhiastatic/weblanding/TA88-400x400-1.gif" alt=""></a>
                        <div class="br"></div>
                    </aside>

                    <aside class="single-sidebar-widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>
                        <p>
                            Here, I focus on a range of items and features that we use in life without
                            giving them a second thought.
                        </p>
                        <div class="form-group d-flex flex-row">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                </div>
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                            </div>
                            <a href="#" class="bbtns">Subcribe</a>
                        </div>
                        <p class="text-bottom">You can unsubscribe at any time</p>
                        <div class="br"></div>
                    </aside>                 
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
