@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Contact"];
}

@section Scripts {
    <!-- contact js -->
    <script src="~/assets/landing-page/js/jquery.form.js"></script>
    <script src="~/assets/landing-page/js/jquery.validate.min.js"></script>
    <script src="~/assets/landing-page/js/contact.js"></script>
    <script src="~/assets/landing-page/js/custom.js"></script>

    <script src="~/client-app/controllers/contact/index.js" asp-append-version="true"></script>
}
@section Styles {
    <style>
        /* Đặt khung chứa iframe có chiều rộng 100% và chiều cao tự động */
        .map-container {
            width: 100%;
            height: 0;
            padding-bottom: 56.25%; /* Tỷ lệ khung hình 16:9 */
            position: relative;
        }

        /* Đặt iframe có chiều rộng và chiều cao 100%, với vị trí tuyệt đối */
        .map-container iframe {
            width: 100%;
            height: 80%;
            position: absolute;
            top: 0;
            left: 0;
            border: 0;
        }
    </style>
}
<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">@Localizer["ContactUs"]</h2>
            <ol class="breadcrumb">
                <li><a href="/home">@Localizer["Home"]</a></li>
                <li class="active">@Localizer["ContactUs"]</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->
<!--================Contact Area =================-->
<section class="contact_area section_gap">
    <div class="container">
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8385242243926!2d108.1473139757603!3d16.07386703931251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218d68e8ccb03%3A0x64dc2cb3e38bbdaf!2zNTQgTmd1eeG7hW4gTMawxqFuZyBC4bqxbmcsIEhvw6AgS2jDoW5oIELhuq9jLCBMacOqbiBDaGnhu4N1LCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1716947523703!5m2!1svi!2s" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>Da Nang, Vietnam</h6>
                        <p>54 Nguyen Luong Bang</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-phone-handset"></i>
                        <h6><a href="#">038 368 1047</a></h6>
                        <p>@Localizer["Text1"]</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a href="#">support@royalhotel.com</a></h6>
                        <p>@Localizer["Text2"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <form class="row contact_form" id="formContact">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="nameContact" name="Name" placeholder="@Localizer["EnterYourName"]">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="emailContact" name="Email" placeholder="@Localizer["EnterEmailAddress"]">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="titleContact" name="Title" placeholder="@Localizer["EnterSubject"]">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" name="Content" id="contentContact" rows="1" placeholder="@Localizer["EnterMessage"]"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="btn theme_btn button_hover" id="btnContact">@Localizer["SendMessage"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--================Contact Area =================-->