@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Contact"];
}

@section Scripts {
    <!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="~/assets/landing-page/js/gmaps.min.js"></script>
    <!-- contact js -->
    <script src="~/assets/landing-page/js/jquery.form.js"></script>
    <script src="~/assets/landing-page/js/jquery.validate.min.js"></script>
    <script src="~/assets/landing-page/js/contact.js"></script>
    <script src="~/assets/landing-page/js/custom.js"></script>
}

<!--================Breadcrumb Area =================-->
<section class="breadcrumb_area">
    <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
    <div class="container">
        <div class="page-cover text-center">
            <h2 class="page-cover-tittle">@Localizer["ContactUs"]</h2>
            <ol class="breadcrumb">
                <li><a href="/home">@Localizer["Home"]</a></li>
                <li class="active">@Localizer["ContactUs"]</li>
            </ol>
        </div>
    </div>
</section>
<!--================Breadcrumb Area =================-->
<!--================Contact Area =================-->
<section class="contact_area section_gap">
    <div class="container">
        <div id="mapBox" class="mapBox"
             data-lat="16.073867"
             data-lon="108.147314"
             data-zoom="13"
             data-info="54 Nguyễn Lương Bằng, Hòa Khánh, Liên Chiểu, Đà Nẵng, Việt Nam."
             data-mlat="16.073867"
             data-mlon="108.147314">
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>Da Nang, Vietnam</h6>
                        <p>54 Nguyen Luong Bang</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-phone-handset"></i>
                        <h6><a href="#">038 368 1047</a></h6>
                        <p>@Localizer["Text1"]</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6><a href="#">support@royalhotel.com</a></h6>
                        <p>@Localizer["Text2"]</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="@Localizer["EnterYourName"]">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="@Localizer["EnterEmailAddress"]">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="@Localizer["EnterSubject"]">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="@Localizer["EnterMessage"]"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="btn theme_btn button_hover">@Localizer["SendMessage"]</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--================Contact Area =================-->
